button {
    width: 60px;
    height: 60px;
    margin: auto;
}
input {
    height: 50px;    
}
.calculator-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    align-items: center;
}
